In [1]:
import time
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import requests

In [2]:

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html= browser.html
soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
print(news_title)
print(news_p)

NASA's Curiosity Mars Rover Finds a Clay Cache
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

Imagine

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
html = browser.html
bsoup = BeautifulSoup(html, "html.parser")
image = bsoup.find("article", class_="carousel_item")
featured_image_url = "https://www.jpl.nasa.gov" + image["style"][23:75]
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19141-1920x1200.jpg

In [5]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19141_hires.jpg'

In [91]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)
time.sleep(1)
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(1)
expand = browser.find_by_css('a.fancybox-expand')
expand.click()
time.sleep(1)

jpl_html = browser.html
jpl_soup = BeautifulSoup(jpl_html, 'html.parser')

img_relative = jpl_soup.find('img', class_='fancybox-image')['src']
image_path = f'https://www.jpl.nasa.gov{img_relative}'
print(image_path)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18905_ip.jpg

Mars Weather Twitter

In [6]:
url = "https://twitter.com/marswxreport?lang=en"
response = requests.get(url)
bsoup = BeautifulSoup(response.text, "html.parser")

mars_weather = bsoup.find("div", class_="js-tweet-text-container").text.strip()
print(mars_weather)

InSight sol 180 (2019-05-30) low -101.1ºC (-149.9ºF) high -21.8ºC (-7.2ºF)
winds from the S at 4.7 m/s (10.5 mph) gusting to 14.7 m/s (32.9 mph)
pressure at 7.50 hPapic.twitter.com/nkAZ6rX9xE

Mars Facts

In [7]:
url =  ("https://space-facts.com/mars/")
mars_facts = pd.read_html(url)
mars_df = mars_facts[0]
mars_df.columns = ['description','Value']
mars_df.columns=['description', 'value']
mars_df.set_index('description', inplace=True)
mars_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers